*{
    .tomorrow-thin {
        font-family: "Tomorrow", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .tomorrow-extralight {
        font-family: "Tomorrow", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .tomorrow-light {
        font-family: "Tomorrow", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .tomorrow-regular {
        font-family: "Tomorrow", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .tomorrow-medium {
        font-family: "Tomorrow", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .tomorrow-semibold {
        font-family: "Tomorrow", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .tomorrow-bold {
        font-family: "Tomorrow", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .tomorrow-extrabold {
        font-family: "Tomorrow", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .tomorrow-black {
        font-family: "Tomorrow", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .tomorrow-thin-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .tomorrow-extralight-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .tomorrow-light-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .tomorrow-regular-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .tomorrow-medium-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .tomorrow-semibold-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .tomorrow-bold-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .tomorrow-extrabold-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .tomorrow-black-italic {
        font-family: "Tomorrow", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
}
.button:hover {
    background-color: #320F7A !important;
    transition-duration: 300;
}

.buttonNav:hover {
    background-color: #b99cf3 !important;
    color: #fff !important;
    transition-duration: 300;
}

.card {
    transition: 300ms !important;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important; */
}

.card:hover {
    transform: translateY(-0.6rem);
}

.btnFav:hover{
    background-color: rgb(90, 64, 145) !important;
    color: white;
    transition-duration: 300;
}
